<div class="container mt-4">
  <div>
    <div class="row align-items-start">
      <div class="col-2">
      </div>
      <div class="col-7">
        <h2>Lista de Tarefas</h2>
      </div>
      <div class="col-2 d-flex justify-content-end">
        <button type="button" class="btn btn-primary" (click)="navigateToCreate();">Adicionar <i
            class="bi bi-plus-circle"></i></button>
      </div>
    </div>
  </div>

  <div class="d-flex flex-wrap gap-2 mt-2 justify-content-center">
    <div class="card col-12 col-md-6 col-lg-4 max-width-130" *ngFor="let task of todoTasks; let i = index">
      <h6 class="card-header" [ngClass]="{'checked': task.done}">{{ task.title.toUpperCase() }}</h6>
      <div class="card-body">
        <h5 class="card-title" [ngClass]="{'checked': task.done}">{{ task.category }}</h5>
        <p class="card-text" [ngClass]="{'checked': task.done}">Tarefa realizada? <input type="checkbox" [checked]="task.done" [(ngModel)]="taskDoneChance[i] = task.done" [ngClass]="{'checked': task.done}" (change)="onTaskDoneChange(task, i);"/>
        </p>
        <p class="card-text" [ngClass]="{'checked': task.done}">{{ task.deadline }}</p>
        <button class="btn btn-secondary me-1" routerLink="/home/edit/{{ task.id }}"><i class="bi bi-pencil-square"></i></button>
        <button class="btn btn-danger"  data-bs-toggle="modal" data-bs-target="#todoTaskDeleteModal" (click)="openModalConfirmDelete(task.id!, task.title)"><i class="bi bi-trash"></i></button>
      </div>
    </div>
  </div>

  <div class="modal fade" id="todoTaskDeleteModal" tabindex="-1" aria-labelledby="todoTaskDeleteModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="todoTaskDeleteModalLabel">Excluir Tarefa</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Deseja realmente excluir a tarefa: <strong>{{ taskTitle }}</strong>?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Não</button>
          <button type="button" class="btn btn-danger" (click)="deleteTodoTaskById();"
            data-bs-dismiss="modal">Sim</button>
        </div>
      </div>
    </div>
  </div>